/* DESKTOP */
@media only screen and (min-width: 501px) {
  #burger {
    padding-left: 2rem;
    padding-top: 2rem;
  }
}

/* TABLET  */
@media only screen and (max-width: 950px) {
  #burger {
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom:1.5rem;
  }
}

/* MOBILE */
@media only screen and (max-width: 500px) {    
  #burger {
    padding-left: 1rem;
    padding-top: 1rem;
  }
}

#burger {
  font-family: var(--font-family);
  font-weight:400;
  color: darkgray;
  font-size:1.5rem;
}

#burger a {
  display: inline-block;
  padding-right: 0.5rem;
  padding-bottom: 0.3rem;
  vertical-align: bottom;
}

#burger label {
  cursor:pointer;
}

#burger label:hover {
  color: var(--main-text-color);
}

#nav-icons {
  padding-left: 1rem;
}

#nav-icons img {
  height:20px;
  margin:0;
  padding:0;
}

#l1-val {
  position: relative;
  top:-0.12rem;
}

#l2-val {
  position: relative;
  top:-0.2rem;
  padding-left:0.1rem;
  padding-right:0.1rem;
}

/* DEFAULT STATE (NOT CHECKED) */
#burger-cbox {
  display: none;
}

#label-1 {
  display: inline-block;
}

#label-2 {
  display: none;
}

#burger-cbox:not(:checked) ~ #nav-icons {
  display: none;
}

/* ACTIVATED STATE (CHECKED) */
#burger-cbox:checked ~ #nav-icons {
  display: inline-block;
}

#burger-cbox:checked ~ #label-1 {
  display: none;
}

#burger-cbox:checked ~ #label-2 {
  display: inline-block;
  color: var(--main-text-color);
}