#map{
    width: 100%;
    height: 600px
}

#opacity_slider_container {
    position: absolute;
    top: 350px;
    left: 4px;
    z-index: 1000;
}

#date_slider_container {
    position: absolute;
    top: 120px;
    left: 4px;
    z-index: 1000;
}

#opacity_slider_{
    margin: 14px;
    height: 100px;
}

#date_slider{
    margin: 14px;
    height: 200px;
}

#selected_year{
    font-size:20px;
    color: #ff0000;
    font-weight: bold;
    position: absolute;
    bottom: 200px;
    left: 34px;"
}

#selected_opacity{
    font-size:20px;
    color: #ff0000;
    font-weight: bold;
    position: absolute;
    bottom: 100px;
    left: 34px;
}
