
@media only screen and (min-width: 850px) {
    .markdown table {
        width: 90vw;
        max-height: 620px;
        margin-left: 50%;
        transform: translateX(-50%);
    }
    .three-img {
        max-width: 1000px;
    }
    .two-img {
        max-width: 1000px;
    }
    .one-img {
        max-width: 1000px;
    }
    .img-block {
        margin-bottom: 2rem;
        margin-top: 2.2rem;
    }
}

@media only screen and (max-width: 849px) {
    .img-block {
        margin-bottom: 2rem;
    }
}

.markdown table {
    padding-bottom: 0;
    margin-bottom: 0;
}
.markdown img {
    padding-bottom: 0.35rem;
    margin: 0;
}
.markdown .img-single {
    margin-top:2rem;
    margin-bottom: 2rem;
    padding: 0rem;
}
.left {
    padding-right: 0.25rem;
}
.right {
    padding-left: 0.25rem;

}
.inside {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}